__pycache__/
venv/

#AI 모델 제외
*.model 
*.npy
#*.env

#node_modules


# DB 도커 컨테이너가 사용하는 파일들
/db/data/nlp
/db/data/mysql
/db/data/performance_schema
/db/data/aria_log.*
/db/data/aria_log_control
/db/data/ib_buffer_pool
/db/data/ib_logfile*
/db/data/ibdata*
/db/data/multi-master.info
/db/data/ibtmp*
/db/data/tc.log
